@media (min-width: 60vw) {
    .VPDoc.has-sidebar .container {
      max-width: 100vw !important;
    }

    .VPDoc.has-aside .content-container {
      max-width: 100vw !important;
    }
  }

html.dark .modal-content {
    background-color: #222;
    color: #eee;
}

html.dark .close {
    color: #ccc;
}

html.dark .close:hover,
html.dark .close:focus {
    }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

